<div class="row justify-content-center">
  <ng-container *ngIf="tileSelected === 1">
    <div class="card card-1">
      <h5>Nieruchomość gruntowa zabudowana<br />
        (budynek mieszkalny):</h5>
      <ul>
        <li>wypis z miejscowego planu zagospodarowania przestrzennego lub decyzja o warunkach zabudowy,</li>
        <li>wypis i wyrys z rejestru gruntów,</li>
        <li>odpis z księgi wieczystej,</li>
        <li>pozwolenie na budowę,</li>
        <li>przedwstępna umowa kupna-sprzedaży ze spółdzielnią mieszkaniową lub deweloperem,</li>
        <li>projekt techniczny budynku lub jego część obrazująca rzuty kondygnacji, podająca parametry techniczne i
          ogólną
          charakterystykę budynku,</li>
        <li>w przypadku rozbudowy bądź modernizacji – kosztorys budowlany.
          (dokumenty można pozyskać w spółdzielni lub u dewelopera).
        </li>
      </ul>
    </div>
    <div class="card card-1">
      <h5>Nieruchomość lokalowa (lokal mieszkalny) / spółdzielcze własnościowe prawo do lokalu:</h5>
      <ul>
        <li>wypis z rejestru gruntów dot. działek, na których realizowana jest inwestycja,</li>
        <li>odpis z księgi wieczystej powyższego terenu,</li>
        <li>pozwolenie budowlane,</li>
        <li>przedwstępna umowa kupna-sprzedaży zawarta z deweloperem lub spółdzielnią,</li>
        <li>dokumentacja techniczna – rozkład funkcjonalny lokalu. (dokumenty do uzyskania w spółdzielni mieszkaniowej
          lub
          u
          dewelopera).</li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="tileSelected === 2">
    <div class="card card-1">
      <h5>Nieruchomość gruntowa niezabudowana (działka gruntu):</h5>
      <ul>
        <li>wypis z miejscowego planu zagospodarowania przestrzennego lub decyzja o warunkach zabudowy <br /><span
                class="explanation">
            (do
            uzyskania w
            gminie),
          </span></li>
        <li>wypis i wyrys z rejestru gruntów<br /><span class="explanation">(do uzyskania w katastrze
            nieruchomości),</span></li>
        <li>mapa zasadnicza (ewidencyjna) dot. działki<br /><span class="explanation">(do uzyskania w katastrze
            nieruchomości)</span></li>
        <li>odpis z księgi wieczystej<br /><span class="explanation">(do uzyskania w Wydziale Ksiąg Wieczystych w Sądzie
            Rejonowym),</span></li>
        <li>inne dokumenty mające wpływ na określenie stanu prawnego terenu, np. orzeczenie sądu.</li>
      </ul>
    </div>
    <div class="card card-1">
      <h5>Nieruchomość gruntowa zabudowana<br />(budynek mieszkalny):</h5>
      <ul>
        <li>wypis z miejscowego planu zagospodarowania przestrzennego lub decyzja o warunkach zabudowy<br /><span
                class="explanation">
            (do
            uzyskania w
            gminie),
          </span></li>
        <li>wypis i wyrys z rejestru gruntów<br /><span class="explanation">(do uzyskania w katastrze
            nieruchomości),</span></li>
        <li>odpis z księgi wieczystej<br /><span class="explanation">(do uzyskania w Wydziale Ksiąg Wieczystych w Sądzie
            Rejonowym),</span></li>
        <li>pozwolenie na budowę</li>
        <li>kosztorys budowlany w przypadku budowy, rozbudowy bądź modernizacji,</li>
        <li>ogólna charakterystyka budynku, rzuty kondygnacji oraz pozostałe parametry techniczne,</li>
        <li>potwierdzenie zgłoszenia budynku do użytkowania lub pozwolenie na użytkowanie,</li>
        <li>kopia umowy przedwstępnej lub inne dokumenty określające stan prawny nieruchomości jeśli istnieją</li>
      </ul>
    </div>
    <div class="card card-1">
      <h5>Nieruchomość lokalowa (lokal mieszkalny) / spółdzielcze własnościowe prawo do lokalu:</h5>
      <ul>
        <li>odpis z księgi wieczystej<br /><span class="explanation">(do uzyskania w Wydziale Ksiąg Wieczystych w Sądzie
            Rejonowym),</span></li>
        <li>akt notarialny kupna-sprzedaży</li>
        <li>wypis z ewidencji gruntów<br /><span class="explanation">(do uzyskania w katastrze nieruchomości),</span>
        </li>
        <li>wypis z kartoteki lokalu<br /><span class="explanation">(do uzyskania w katastrze nieruchomości),</span>
        </li>
        <li>wypis z kartoteki budynku<br /><span class="explanation">(do uzyskania w katastrze nieruchomości),</span>
        </li>
        <li>rzut lokalu, dane powierzchniowo kubaturowe,</li>
        <li>zaświadczenie ze spółdzielni mieszkaniowej dot. przydziału lokalu<br /><span class="explanation">(do
            uzyskania ze spółdzielni)</span></li>
      </ul>
    </div>
    <div class="card card-1">
      <h5>Nieruchomości komercyjne:</h5>
      <ul>
        <li>odpis z księgi wieczystej<br /><span class="explanation">(do uzyskania w Wydziale Ksiąg Wieczystych w Sądzie
            Rejonowym),</span></li>
        <li>wypis z rejestru gruntów<br /><span class="explanation">(do uzyskania w katastrze nieruchomości),</span>
        </li>
        <li>dane powierzchniowo-kubaturowe budynków, lokali<br /><span class="explanation">(w posiadaniu właściciela
            bądź zarządcy),</span></li>
        <li>rzuty kondygnacji<br /><span class="explanation">(w posiadaniu właściciela bądź zarządcy),</span></li>
        <li>wykazy powierzchni o odmiennej funkcji<br /><span class="explanation">(w posiadaniu właściciela bądź
            zarządcy),</span></li>
        <li>mapa zasadnicza, ewidencyjna terenu<br /><span class="explanation">(do uzyskania w katastrze
            nieruchomości),</span></li>
        <li>wykaz rocznych kosztów utrzymania nieruchomości<br /><span class="explanation">(w posiadaniu właściciela
            bądź zarządcy),</span></li>
        <li>inne, ustalane indywidualnie w miarę potrzeb.</li>
      </ul>
    </div>
  </ng-container>
</div>