<footer>
  <div class="container wow fadeInUp">
    <div class="row justify-content-between">
      <div class="col-sm-12 col-lg-4">
        <div class="footer-item">
          <div class="footer-logo">
            <img src="assets/img/logo-transparent.png"
                 alt="Logo">
          </div>
          <p>Kancelaria Rzeczoznawcy Majątkowego Sylwia Łazarewicz zaprasza również do odwiedzenia strony w <a
               href="https://www.facebook.com/%C5%81azarewicz-Nieruchomo%C5%9Bci-Kancelaria-Rzeczoznawcy-Maj%C4%85tkowego-100289018495801"
               target="_blank"
               class="footer-highlight">
              mediach
              społecznościowych.
            </a></p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-2 page-map-mob">
        <div class="footer-item">
          <div class="footer-service">
            <h3>Mapa Strony</h3>

            <ul>
              <li><a (click)="onClick('home')"><i class="icofont-simple-right"></i>Home</a></li>
              <li><a (click)="onClick('offer')"><i class="icofont-simple-right"></i>Oferta</a></li>
              <li><a (click)="onClick('about')"><i class="icofont-simple-right"></i>O Firmie</a></li>
              <li><a (click)="onClick('localization')"><i class="icofont-simple-right"></i>Lokalizacja</a></li>
              <li><a (click)="onClick('contact')"><i class="icofont-simple-right"></i>Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-5">
        <div class="footer-item">
          <div class="footer-find">
            <h3>Dane kontaktowe</h3>

            <ul>
              <li><i class="icofont-location-pin"></i><a class="footer-location-text"
                   href="https://goo.gl/maps/zFNTUHKKnGkq58ey5"
                   target="_blank"
                   rel="noopener">Grota-Roweckiego
                  115/24, 52-232 Wrocław</a></li>
              <li><i class="icofont-ui-call"></i><a href="tel:+02140210012"
                   target="_blank">661 384 464</a></li>
              <li><i class="icofont-at"></i> <a href="mailto:kontakt@lazarewicz-nieruchomosci.pl"
                   target="_blank">kontakt@lazarewicz-nieruchomosci.pl</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>