@import "~src/assets/css/variables.scss";

.container {
  padding: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

img {
  margin-bottom: 10px;
  width: 80%;
}

.footer-service a {
  cursor: pointer;
}

.footer-highlight {
  color: $gold-color;
}

.bank-account {
  cursor: pointer;
}
