<footer>
  <div class="container wow fadeInUp">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
          <div class="footer-logo">
            <a routerLink="/"><img src="assets/img/logo.png"
                   alt="Logo"></a>
            <p>Nasz zespół jest zawsze do Państwa dyspozycji, aby zapewnić najlepszą i skuteczną obsługę. Jeśli chcesz
              dowiedzieć się więcej o naszej kancelarii, możesz nas połączyć za pośrednictwem mediów
              społecznościowych.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-2">
        <div class="footer-item">
          <div class="footer-service">
            <h3>Mapa Strony</h3>

            <ul>
              <li><a routerLink="/"><i class="icofont-simple-right"></i>Home</a></li>
              <li><a routerLink="about"><i class="icofont-simple-right"></i>Oferta</a></li>
              <li><a routerLink="blog"><i class="icofont-simple-right"></i>O Nas</a></li>
              <li><a routerLink="attorney"><i class="icofont-simple-right"></i>Lokalizacja</a></li>
              <li><a routerLink="testimonial"><i class="icofont-simple-right"></i>Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-5">
        <div class="footer-item">
          <div class="footer-find">
            <h3>Znajdź nas</h3>

            <ul>
              <li><i class="icofont-location-pin"></i><a href="https://goo.gl/maps/zFNTUHKKnGkq58ey5"
                   target="_blank">Grota-Roweckiego
                  115/24, 52-232 Wrocław</a></li>
              <li><i class="icofont-ui-call"></i><a href="tel:+02140210012"
                   target="_blank">661 384 464</a></li>
              <li><i class="icofont-at"></i> <a href="mailto:lazarewicz.nieruchomosci@gmail.com"
                   target="_blank">lazarewicz.nieruchomosci@gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>