@import "~src/assets/css/variables.scss";

.message-confirm {
  border: 1px solid $gold-color;
  color: $gold-color;
  background-color: $blue-color;
  padding: 10px;
  margin: 15px;
  margin-top: 45px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  transition: 0.1;

  &.hidden {
    opacity: 0;
  }
}
