@import "~src/assets/css/variables.scss";

.message-confirm {
  border: 1px solid $gold-color;
  color: $gold-color;
  background-color: $blue-color;
  padding: 16px;
  margin: 0 15px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  transition: 0.5;

  &.hidden {
    opacity: 0;
  }

  &.sent {
    background-color: $gold-color;
    color: white;
  }
}
