<form id="contactForm wow fadeInUp"
      [formGroup]="FormData"
      (ngSubmit)="onSubmit(FormData.value)">
  <div class="row contact-wrap">
    <div class="row contact-wrap">
      <div class="col-sm-6 col-lg-6">
        <div class="form-group">
          <input type="text"
                 name="name"
                 id="name"
                 class="form-control"
                 placeholder="Twoje Imię*"
                 formControlName="Fullname"
                 maxlength="30">
        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group">
          <input type="email"
                 name="email"
                 id="email"
                 class="form-control"
                 placeholder="Twój Email*"
                 formControlName="Email"
                 maxlength="30">
        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group">
          <input type="tel"
                 name="phone_number"
                 id="phone_number"
                 class="form-control"
                 placeholder="Twój Numer Telefonu"
                 formControlName="PhoneNumber"
                 maxlength="15">
        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group">
          <input type="text"
                 name="msg_subject"
                 id="msg_subject"
                 class="form-control"
                 placeholder="Temat*"
                 formControlName="Subject"
                 maxlength="30">
        </div>
      </div>

      <div class="col-md-12 col-lg-12">
        <div class="form-group">
          <textarea name="message"
                    class="form-control"
                    id="message"
                    cols="30"
                    rows="8"
                    placeholder="Opis Sprawy*"
                    formControlName="Description"
                    maxlength="2500"></textarea>
        </div>
      </div>

      <div *ngIf="!showLoader && !isMessageSent"
           class="col-md-12 col-lg-12">
        <div class="text-center">
          <button type="submit"
                  class="contact-btn"
                  [disabled]="!FormData.valid">Wyślij Wiadomość</button>
        </div>
      </div>
    </div>
    <div *ngIf="showLoader || isMessageSent"
         class="message-confirm"
         [ngClass]="{'hidden': !isMessageSent && !showLoader, 'sent': isMessageSent}">
      <div *ngIf="showLoader"
           class="spinner"></div>
      <div *ngIf="!showLoader">Wiadomość została wysłana!</div>
    </div>
  </div>
</form>