<div class="card card-1">
  <h5>
    Koszt zależy od następujących czynników:
  </h5>
  <ul>
    <li><strong>rodzaju nieruchomości</strong> i jej części składowych</li>
    <li><strong>nakładu pracy</strong></li>
    <li><strong>kosztów ponoszonych</strong> w związku z wykonywanymi czynnościami<span>
        (dojazd, opłaty w urzędach, wyszukanie i
        przygotowanie
        dokumentów źródłowych, dostępność do danych rynkowych, analizy rynku nieruchomości, itp.)
      </span></li>
    <li><strong>celu wyceny</strong></li>
    <li><strong>terminu realizacji</strong> i warunków wykonania czynności szacunkowych</li>
  </ul>
</div>