$common-font: "Poppins", sans-serif;
$heading-font: "Playfair Display", serif;
$transition: 0.5s all ease;
$all-size: 16px;
$white-color: #ffffff;
$gold-color: #fca21a;
$black-color: #333333;
$blue-color: #272974;
// (39,41,116)
