<div class="list-type3">
  <ul>
    <li><strong>rodzaju nieruchomości</strong> i jej części składowych,</li>
    <li><strong>nakładu pracy</strong></li>
    <li><strong>kosztów ponoszonych</strong> w związku z wykonywanymi czynnościami</li>
    <li><strong>celu wyceny</strong></li>
    <li><strong>terminu realizacji</strong> i warunków wykonania czynności szacunkowych</li>
  </ul>
</div>
<!-- 
<ul>
  <li>rodzaju nieruchomości i jej części składowych,</li>
  <li>nakładu pracy,</li>
  <li>kosztów ponoszonych w związku z wykonywanymi czynnościami (dojazd, opłaty w urzędach, wyszukanie i
    przygotowanie
    dokumentów źródłowych, dostępność do danych rynkowych, analizy rynku nieruchomości, itp.),</li>
  <li>celu wyceny,</li>
  <li>terminu realizacji i warunków wykonania czynności szacunkowych</li>
</ul> -->