<div class="banner-area banner-img-one"
     id="home">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container text-container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="banner-item">
              <div class="banner-left">
                <h1 class="mainheader swing-in-top-fwd">Łazarewicz Nieruchomości</h1>
                <h2 class="subheader swing-in-top-fwd">Kancelaria Rzeczoznawcy Majątkowego</h2>
                <!-- <a routerLink="/contact">Darmowa Konsultacja<i class="icofont-arrow-right"></i></a> -->
              </div>
            </div>
          </div>

          <!-- animated frame -->
          <!-- <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-right">
                                <img class="banner-animation" src="assets/img/home-one/3.png" alt="Banner">
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
      </div>
    </div>
  </div>
</div>
<section class="practice-area pt-100 pb-70"
         id="offer">
  <div class="container">
    <div class="section-title wow fadeInUp">
      <h2>Oferta</h2>
    </div>

    <div class="column wow fadeInUp">
      <p class="mb-40">Wycena nieruchomości realizowana jest w formie <strong>operatu szacunkowego</strong> zgodne z
        obowiązującymi
        przepisami i
        Standardami
        Zawodowymi Rzeczoznawców Majątkowych oraz z zachowaniem zasady <strong>poufności i ochrony danych
          osobowych</strong>. Oferta
        obejmuje
        również analizę i badania rynku nieruchomości, analizę prawną przedmiotu wyceny oraz inspekcję nieruchomości.
      </p>

      <div class="row">
        <div class="sample-estate-appraisal col-lg-6 wow fadeInUp">
          <h3 class="section-subtitle">Przykłady wycenianych nieruchomości:</h3>
          <ul>
            <li>nieruchomości lokalowe (lokale mieszkalne, lokale użytkowe),</li>
            <li>spółdzielcze własnościowe prawa do lokalu,</li>
            <li>nieruchomości gruntowe zabudowane,</li>
            <li>nieruchomości gruntowe niezabudowane,</li>
            <li>nieruchomości rolne,</li>
            <li>nieruchomości komercyjne (biurowce, magazyny, obiekty handlowe, hotele),</li>
            <li>grunty inwestycyjne,</li>
            <li>ograniczone prawa rzeczowe</li>
          </ul>
          <br>
        </div>
        <div class="sample-estate-appraisal col-lg-6 wow fadeInUp">
          <h3 class="section-subtitle">Przykładowe cele wyceny:</h3>
          <ul>
            <li>sprzedaż bądź zamiana nieruchomości</li>
            <li>zabezpieczenie kredytu</li>
            <li>podział majątku, zniesienie współwłasności</li>
            <li>aktualizacja opłaty z tytułu użytkowania wieczystego</li>
            <li>naliczanie opłat planistycznych i adiacenckich</li>
            <li>spadkowe</li>
            <li>ubezpieczeniowe</li>
            <li>podatkowe</li>
            <li>dla potrzeb prowadzonych negocjacji</li>
            <li>dla potrzeb egzekucji komorniczej</li>
            <li>inne w zależności od potrzeb Zamawiającego</li>
          </ul>
        </div>
      </div>

      <p>Wycena wykonywana jest dla konkretnego celu, o którym decyduje zamawiający usługę.</p>
      <app-astrodivider></app-astrodivider>

    </div>
    <div class="column wow fadeInUp">
      <div class="section-title column">
        <h2>Cennik</h2>
      </div>
      <p>Koszt opracowania operatu szacunkowego ustalany jest indywidualnie z Zamawiającym usługę. Cena za usługę
        ustalana jest w
        umowie w formie pisemnej.</p>
      <app-price-list></app-price-list>
    </div>
    <!-- <h5>Koszt zależy od następujących czynników:</h5>
      <div class="sample-estate-appraisal col-lg-6 wow fadeInUp">
        <app-decorated-list></app-decorated-list>
      </div> -->
  </div>
</section>


<section class="expertise-area pb-100 pt-100 pl-20"
         id="about">
  <div class="column container wow fadeInUp">
    <div class="section-title text-center">
      <h2>O firmie</h2>
    </div>
    <div class="row align-items-center">
      <div>
        <div class="expertise-item">
          <p>Firma oferuje swoim klientom kompleksowe i solidne <span class="highlight">usługi w zakresie wyceny
              nieruchomości.</span> Oferta skierowana
            jest do
            osób fizycznych i prawnych, instytucji państwowych oraz innych podmiotów działających na rynku
            nieruchomości.
          <p>
            Sporządzane opracowania mogą być wykorzystane na <span class="highlight">potrzeby inwestycyjne, kredytowe,
              sądowe lub egzekucyjne</span>, w
            zależności
            od celu wyceny nieruchomości.</p>
          <h3 class="order-terms">
            Termin realizacji
          </h3>
          <p>
            Czas wykonania wyceny zależy od terminu przeprowadzenia oględzin nieruchomości, pozyskania niezbędnych
            dokumentów oraz
            dostępności danych rynkowych.
          </p>
        </div>
      </div>

    </div>
    <app-astrodivider [isInverted]="true"></app-astrodivider>

    <div class="section-title text-center wow fadeInUp">
      <h2>O mnie</h2>
    </div>
    <div class="row align-items-center justify-content-between wow fadeInUp">
      <div class="col-lg-9 pl-0 pr-0">
        <div class="expertise-item">
          <p>Rzeczoznawca majątkowy posiadający <span class="highlight">uprawnienia zawodowe nr 7716</span> nadane przez
            Ministra
            Rozwoju, które
            upoważniają do
            wykonywania samodzielnej funkcji rzeczoznawcy majątkowego w zakresie szacowania nieruchomości, a także
            maszyn i urządzeń
            trwale związanych z nieruchomością. Członek Stowarzyszenia Rzeczoznawców Majątkowych we Wrocławiu.</p>
          <p>
            Absolwentka Uniwersytetu Przyrodniczego we Wrocławiu na kierunku Gospodarka przestrzenna z tytułem
            inżyniera, oraz
            studiów magisterskich na kierunku Gospodarka przestrzenna, <span class="highlight">
              specjalność Rynek nieruchomości z tytułem
              magistra
            </span>. Ukończyła
            studia podyplomowe na Uniwersytecie Przyrodniczym we Wrocławiu na kierunku Wycena nieruchomości. Praktykę
            zawodową
            odbyła w Stowarzyszeniu Rzeczoznawców Majątkowych we Wrocławiu.</p>
          <p>
            Ukończyła szkolenie do wyceny nieruchomości dla potrzeb zabezpieczenia wierzytelności na potrzeby banków.
            Posiada
            <span class="highlight">ubezpieczenie od odpowiedzialności cywilnej przedsiębiorcy</span> prowadzącego
            działalność w zakresie czynności
            rzeczoznawstwa
            majątkowego.</p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 team-item-container">
        <div class="team-item wow fadeInUp"
             data-wow-delay=".3s">
          <img src="assets/img/home-one/team/1.jpg"
               alt="Team">

          <div class="team-inner">
            <ul>
              <li><a href="https://www.facebook.com/sylwia.hutnik"
                   target="_blank"><i class="icofont-facebook"></i></a></li>
              <!-- <li><a href="https://www.instagram.com/"
                   target="_blank"><i class="icofont-instagram"></i></a></li>
              <li><a href="https://www.twitter.com/"
                   target="_blank"><i class="icofont-twitter"></i></a></li> -->
              <li><a href="https://www.linkedin.com/in/sylwiahutnik"
                   target="_blank"><i class="icofont-linkedin"></i></a></li>
            </ul>
            <h3><a routerLink="/attorney-details">Sylwia Łazarewicz</a></h3>
            <span>Rzeczoznawca</span>
          </div>
        </div>
      </div>
    </div>
    <h3 class="order-terms">
      Certyfikaty
    </h3>
  </div>
</section>

<section class="team-area ptb-100">
  <div class="column container justify-content-center">
    <div class="section-title">
      <h2 class="wow fadeInUp">Dokumenty</h2>
    </div>
    <p class="wow fadeInUp">Dla właściwego przeprowadzenia procesu wyceny rzeczoznawca majątkowy potrzebuje dokumentów,
      które są niezbędne, aby
      w
      sposób rzetelny i dokładny sporządzić operat szacunkowy. Rodzaj tych dokumentów zależy od przedmiotu, zakresu i
      celu
      wyceny. Stanowią one załączniki do operatu szacunkowego. Dokumenty powinien dostarczyć zamawiający wycenę.
      Istnieje
      możliwość zlecenia pozyskania dokumentów rzeczoznawcy majątkowemu za dodatkowym wynagrodzeniem.</p>
    <h3 class="section-subtitle wow fadeInUp">
      PODSTAWOWE DOKUMENTY NIEZBĘDNE DO WYKONANIA WYCENY
    </h3>
    <div class="row justify-content-center wow fadeInUp">
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item"
             [ngClass]="{isActive: isTileOneSelected}"
             (click)="toggleTile(1)">
          <div class="practice-icon">
            <i class="flaticon-money-bag"></i>
          </div>
          <h3>Rynek Pierwotny</h3>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item"
             [ngClass]="{isActive: isTileTwoSelected}"
             (click)="toggleTile(2)">
          <div class="practice-icon">
            <i class="flaticon-team"></i>
          </div>
          <h3>Rynek Wtórny</h3>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>
    </div>

    <div *ngIf="isTileOneSelected">
      <app-document-tile [tileSelected]="1"></app-document-tile>
    </div>
    <div *ngIf="isTileTwoSelected">
      <app-document-tile [tileSelected]="2"></app-document-tile>
    </div>
    <app-astrodivider></app-astrodivider>
    <div id="localization"
         class="section-title">
      <h2>Lokalizacja</h2>
    </div>
    <div class="container justify-content-center map-area wow fadeInUp">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1253.885023350707!2d17.030127158306897!3d51.0573336807737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc3bcf3e62efd%3A0xa3e2ee5f00d52ed7!2s%C5%81azarewicz%20Nieruchomo%C5%9Bci%20Kancelaria%20Rzeczoznawcy%20Maj%C4%85tkowego%20Sylwia%20%C5%81azarewicz!5e0!3m2!1spl!2spl!4v1601138092917!5m2!1spl!2spl"
              width="600"
              height="450"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"></iframe>
    </div>
  </div>
</section>

<div class="contact-form pb-100">
  <div class="loaction-area wow fadeInUp">
    <div class="container">
      <div class="row location-bg">
        <div class="col-sm-6 col-lg-4">
          <div class="location-item">
            <div class="location-icon">
              <i class="flaticon-pin"></i>
              <img src="assets/img/home-one/12.png"
                   alt="Shape">
            </div>
            <h3>Lokalizacja</h3>
            <ul>
              <li>Grota-Roweckiego 115/24</li>
              <li>52-232 Wrocław</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="location-item">
            <div class="location-icon">
              <i class="flaticon-call"></i>
              <img src="assets/img/home-one/12.png"
                   alt="Shape">
            </div>
            <h3>Telefon</h3>
            <ul>
              <li><a>661 384 464</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5">
          <div class="location-item">
            <div class="location-icon">
              <i class="flaticon-email"></i>
              <img src="assets/img/home-one/12.png"
                   alt="Shape">
            </div>
            <h3>Email</h3>
            <ul>
              <li><a href="mailto:lazarewicz.nieruchomosci@gmail.com">lazarewicz.nieruchomosci@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid pt-100 mt-m100"
       id="contact">
    <div class="section-title text-center wow fadeInUp">
      <h2>Formularz kontaktowy</h2>
    </div>
    <form id="contactForm wow fadeInUp">
      <div class="row contact-wrap">
        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text"
                   name="name"
                   id="name"
                   class="form-control"
                   placeholder="Twoje Imię i Nazwisko">
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="email"
                   name="email"
                   id="email"
                   class="form-control"
                   placeholder="Twój Email">
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text"
                   name="phone_number"
                   id="phone_number"
                   class="form-control"
                   placeholder="Twój Nr Telefonu">
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text"
                   name="msg_subject"
                   id="msg_subject"
                   class="form-control"
                   placeholder="Temat">
          </div>
        </div>

        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <textarea name="message"
                      class="form-control"
                      id="message"
                      cols="30"
                      rows="8"
                      placeholder="Opis Sprawy"></textarea>
          </div>
        </div>

        <div class="col-md-12 col-lg-12">
          <div class="text-center">
            <button type="submit"
                    class="contact-btn">Wyślij Wiadomość</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>