<div class="banner-area banner-img-one"
     id="home">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container text-container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="banner-item">
              <div class="banner-left">
                <h1 class="mainheader swing-in-top-fwd">Łazarewicz Nieruchomości</h1>
                <h1 class="subheader swing-in-top-fwd">Kancelaria Rzeczoznawcy Majątkowego</h1>
                <!-- <a routerLink="/contact">Darmowa Konsultacja<i class="icofont-arrow-right"></i></a> -->
              </div>
            </div>
          </div>

          <!-- animated frame -->
          <!-- <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-right">
                                <img class="banner-animation" src="assets/img/home-one/3.png" alt="Banner">
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
        <div class="line line--horizontal"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="banner-bottom">
      <ul>
        <li><i class="flaticon-leader"></i></li>
        <li>
          <span>100% Legal</span>
          <p>Govt Approved</p>
          <img src="assets/img/home-one/9.png"
               alt="Shape">
        </li>
      </ul>
    </div>
  </div>
</div>
<section class="practice-area pt-100 pb-70"
         id="offer">
  <div class="container">
    <div class="section-title wow fadeInUp">
      <h2>W czym się specjalizujemy</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item wow fadeInUp">
          <div class="practice-icon">
            <i class="flaticon-law"></i>
          </div>
          <h3>Wycena Nieruchomości</h3>
          <p>Specjalizujemy się w wycenie nieruchomości mieszkaniowych, komercyjnych i niezbudowanych dla zróżnicowanych
            celów.</p>
          <a routerLink="/practice-details">Szczegóły</a>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="practice-item wow fadeInUp">
          <div class="
             practice-icon">
            <i class="flaticon-inheritance"></i>
          </div>
          <h3>Wycena ograniczonych praw rzeczowych</h3>
          <p>Wyceniamy ograniczone prawa rzeczowe, w tym służebności przesyłu, służebności gruntowe i osobiste.</p>
          <a routerLink="/practice-details">Szczegóły</a>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="practice-item wow fadeInUp">
          <div class="practice-icon">
            <i class="flaticon-mortarboard"></i>
          </div>
          <h3>Opinie i ekspertyzy</h3>
          <p>Sporządzamy opinie i ekspertyzy niestanowiące operatu szacunkowego, uwzględniające indywidualne potrzeby
            klienta.
          </p>
          <a routerLink="/practice-details">Szczegóły</a>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="practice-item wow fadeInUp">
          <div class="practice-icon">
            <i class="flaticon-auction"></i>
          </div>
          <h3>Porady w sprawach nieruchomości</h3>
          <p>Pomagamy w sprawach związanych z aktualizacją opłat za użytkowanie wieczyste i odszkodowaniami za
            wywłaszczenie nieruchomości.</p>
          <a routerLink="/practice-details">Szczegóły</a>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="practice-item wow fadeInUp">
          <div class="practice-icon">
            <i class="flaticon-vulnerability"></i>
          </div>
          <h3>Analizy rynku</h3>
          <p>Przygotowujemy analizy poziomu cen nieruchomości w wybranych segmentach rynku, analizy stawek czynszów i
            trendów na
            rynku nieruchomości.</p>
          <a routerLink="/practice-details">Szczegóły</a>
          <img class="practice-shape-one"
               src="assets/img/home-one/7.png"
               alt="Shape">
          <img class="practice-shape-two"
               src="assets/img/home-one/8.png"
               alt="Shape">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="help-area pb-70">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="help-item help-left">
          <img src="assets/img/home-one/5.jpg"
               alt="Help">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="help-item">
          <div class="help-right">
            <h2>We Provide Qualified Attorneys For Your Assistance </h2>
            <p>The Whole Team of Lyzo Law Firm brings a strong and fearless attitude to all the clients they assist.
              And, to make sure that you win, our team will provide you with High-quality service.</p>
            <div class="help-inner-left">
              <ul>
                <li><i class="flaticon-checkmark"></i> Browse Our Website</li>
                <li><i class="flaticon-checkmark"></i> Choose Services</li>
              </ul>
            </div>

            <div class="help-inner-right">
              <ul>
                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                <li><i class="flaticon-checkmark"></i> Best Performances</li>
              </ul>
            </div>

            <div class="help-signature">
              <img src="assets/img/home-one/4.png"
                   alt="Signature">
            </div>

            <a class="cmn-btn"
               routerLink="/practice">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="help-shape">
      <img src="assets/img/home-one/6.png"
           alt="Shape">
    </div>
  </div>
</div> -->


<section class="expertise-area pb-100 pt-100"
         id="about">
  <div class="column container">
    <div class="section-title text-center">
      <h2>Postaw na Fachowców</h2>
    </div>
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-6">
        <div class="expertise-item">
          <ul>
            <li class="wow fadeInUp"
                data-wow-delay=".3s">
              <div class="expertise-icon">
                <i class="flaticon-experience"></i>
                <img src="assets/img/home-one/11.png"
                     alt="Shape">
              </div>
              <h3>Doświadczenie</h3>
              <p>Nie boimy się trudnych wyzwań. Wyceny nietypowe i złożone są naszą największą pasją.</p>
            </li>

            <li class="wow fadeInUp"
                data-wow-delay=".4s">
              <div class="expertise-icon">
                <i class="flaticon-lawyer"></i>
                <img src="assets/img/home-one/11.png"
                     alt="Shape">
              </div>
              <h3>Profesjonalizm</h3>
              <p>Współpracujemy z zaprzyjaźnionymi ekspertami z dziedzin pokrewnych.</p>
            </li>

            <li class="wow fadeInUp"
                data-wow-delay=".5s">
              <div class="expertise-icon">
                <i class="flaticon-balance"></i>
                <img src="assets/img/home-one/11.png"
                     alt="Shape">
              </div>
              <h3>Pełna Transaprentość</h3>
              <p>Wysoko cenimy współpracę i wzajemne wsparcie w ramach własnej grupy zawodowej.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3 team-item-container">
        <div class="team-item wow fadeInUp"
             data-wow-delay=".3s">
          <img src="assets/img/home-one/team/1.jpg"
               alt="Team">

          <div class="team-inner">
            <ul>
              <li><a href="https://www.facebook.com/sylwia.hutnik"
                   target="_blank"><i class="icofont-facebook"></i></a></li>
              <!-- <li><a href="https://www.instagram.com/"
                   target="_blank"><i class="icofont-instagram"></i></a></li>
              <li><a href="https://www.twitter.com/"
                   target="_blank"><i class="icofont-twitter"></i></a></li> -->
              <li><a href="https://www.linkedin.com/in/sylwiahutnik"
                   target="_blank"><i class="icofont-linkedin"></i></a></li>
            </ul>
            <h3><a routerLink="/attorney-details">Sylwia Łazarewicz</a></h3>
            <span>Rzeczoznawca</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="portfolio-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>PORTFOLIO</span>
      <h2>Check Out Our Popular Case Studies.</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="portfolio-item">
          <img src="assets/img/home-one/portfolio/1.jpg"
               alt="Portfolio">

          <div class="portfolio-inner">
            <span>Crime</span>
            <h3><a routerLink="/case-study-details">Critical Murder Case</a></h3>
            <p>15 Feb 2021</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="portfolio-item">
          <img src="assets/img/home-one/portfolio/2.jpg"
               alt="Portfolio">

          <div class="portfolio-inner">
            <span>Rights</span>
            <h3><a routerLink="/case-study-details">Children Rights</a></h3>
            <p>16 Feb 2021</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
        <div class="portfolio-item">
          <img src="assets/img/home-one/portfolio/3.jpg"
               alt="Portfolio">

          <div class="portfolio-inner">
            <span>Finance</span>
            <h3><a routerLink="/case-study-details">Money Loundering</a></h3>
            <p>17 Feb 2021</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="cmn-btn"
         routerLink="/case-study">See More</a>
    </div>
  </div>
</section> -->

<section class="team-area ptb-100"
         id="localization">
  <div class="section-title">
    <h2>Odnajdź nas</h2>
  </div>
  <div class="container justify-content-center map-area wow fadeInUp">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.770137733371!2d17.031221499999997!3d51.057331999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc308941f7b19%3A0xd67c303d69d55d17!2sGrota-Roweckiego%20115%2C%2052-232%20Wroc%C5%82aw!5e0!3m2!1spl!2spl!4v1598355004472!5m2!1spl!2spl"
            width="600"
            height="450"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"></iframe>
  </div>
  <!-- <div class="container justify-content-center">
    <div class="section-title">
      <h2>Poznaj naszych specjalistów</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-3">
        <div class="team-item wow fadeInUp"
             data-wow-delay=".3s">
          <img src="assets/img/home-one/team/1.jpg"
               alt="Team">

          <div class="team-inner">
            <ul>
              <li><a href="https://www.facebook.com/"
                   target="_blank"><i class="icofont-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/"
                   target="_blank"><i class="icofont-instagram"></i></a></li>
              <li><a href="https://www.twitter.com/"
                   target="_blank"><i class="icofont-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/"
                   target="_blank"><i class="icofont-linkedin"></i></a></li>
            </ul>
            <h3><a routerLink="/attorney-details">Sylwia Hutnik</a></h3>
            <span>Rzeczoznawca</span>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="team-item wow fadeInUp">
          <img src="assets/img/home-one/team/2.jpg"
               alt="Team">

          <div class="team-inner">
            <ul>
              <li><a href="https://www.facebook.com/"
                   target="_blank"><i class="icofont-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/"
                   target="_blank"><i class="icofont-instagram"></i></a></li>
              <li><a href="https://www.twitter.com/"
                   target="_blank"><i class="icofont-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/"
                   target="_blank"><i class="icofont-linkedin"></i></a></li>
            </ul>
            <h3><a routerLink="/attorney-details">Paweł Hutnik</a></h3>
            <span>Radca Prawny</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>

<div class="contact-form pb-100">
  <div class="loaction-area wow fadeInUp">
    <div class="container">
      <div class="row location-bg">
        <div class="col-sm-6 col-lg-4">
          <div class="location-item">
            <div class="location-icon">
              <i class="flaticon-pin"></i>
              <img src="assets/img/home-one/12.png"
                   alt="Shape">
            </div>
            <h3>Lokalizacja</h3>
            <ul>
              <li>Grota-Roweckiego 115/24</li>
              <li>52-232 Wrocław</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="location-item">
            <div class="location-icon">
              <i class="flaticon-call"></i>
              <img src="assets/img/home-one/12.png"
                   alt="Shape">
            </div>
            <h3>Telefon</h3>
            <ul>
              <li><a>661 384 464</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5">
          <div class="location-item">
            <div class="location-icon">
              <i class="flaticon-email"></i>
              <img src="assets/img/home-one/12.png"
                   alt="Shape">
            </div>
            <h3>Email</h3>
            <ul>
              <li><a href="mailto:lazarewicz.nieruchomosci@gmail.com">lazarewicz.nieruchomosci@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid wow fadeInUp pt-100 mt-m100"
       id="contact">
    <div class="section-title text-center">
      <h2>Napisz do nas</h2>
    </div>
    <form id="contactForm">
      <div class="row contact-wrap">
        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text"
                   name="name"
                   id="name"
                   class="form-control"
                   placeholder="Twoje Imię i Nazwisko">
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="email"
                   name="email"
                   id="email"
                   class="form-control"
                   placeholder="Twój Email">
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text"
                   name="phone_number"
                   id="phone_number"
                   class="form-control"
                   placeholder="Twój Nr Telefonu">
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text"
                   name="msg_subject"
                   id="msg_subject"
                   class="form-control"
                   placeholder="Temat">
          </div>
        </div>

        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <textarea name="message"
                      class="form-control"
                      id="message"
                      cols="30"
                      rows="8"
                      placeholder="Opis Sprawy"></textarea>
          </div>
        </div>

        <div class="col-md-12 col-lg-12">
          <div class="text-center">
            <button type="submit"
                    class="contact-btn">Wyślij Wiadomość</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>