<div class="navbar-area fixed-top">

  <div class="mobile-nav">
    <a routerLink="/"
       class="logo">
      <img src="assets/img/logo.png"
           alt="Logo">
    </a>
  </div>

  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand"
           routerLink="/">
          <img src="assets/img/logo.png"
               alt="Logo">
        </a>

        <div class="collapse navbar-collapse mean-menu"
             id="navbarSupportedContent">
          <ul class="navbar-nav">

            <li class="nav-item"
                (click)="onClick('home')"><a>Home</a></li>

            <li class="nav-item"
                (click)="onClick('offer')"><a>Oferta</a></li>

            <li class="nav-item"
                (click)="onClick('about')"><a>O nas</a></li>

            <li class="nav-item"
                (click)="onClick('localization')"><a>Lokalizacja</a></li>

            <li class="nav-item"
                (click)="onClick('contact')"><a>Kontakt</a></li>
          </ul>

          <div class="side-nav">
            <a class="scale-in-center"
               href="#contact">Umów Spotkanie</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>